.galeria-item {
    min-width: 100%;
    display: block;
    max-height: 500px;
    box-shadow: 5px 5px rgba(0,0,0,0.3);
    object-fit: cover;
  }
  
  .figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
  }
  
  .figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
  
  .figure a {
    color: black;
    text-decoration: none;
  }
  
  .galeria-imgContainer {
    column-gap: 15px;
  }

  @media (min-width: 0px) {
    .galeria-imgContainer {
      column-count: 2;
    }
    .galeria-mainTitle{
        font-size: 2rem;
        margin-top: 50px;
    }
  }
  
  @media (min-width: 576px) {
  }
  
  @media (min-width: 768px) {
    .galeria-imgContainer {
      column-count: 3;
    }
  }
  
  @media (min-width: 992px) {
  }
  
  @media (min-width: 1200px) {
  }