.nosotros-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #0E2841;
}

.nosotros-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #0E2841;
}

.nostros-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nosotros-content img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

@media (min-width: 0px) {
    .nosotros-mainTitle{
        font-size: 2rem;
    }

    .nosotros-title{
        font-size: 1rem;
    }
    
    .nosotros-text{
        font-size: 0.9rem;
    }
    .nostros-row{
        padding: 0px 20px;
    }
  }
  
  @media (min-width: 576px) {
  }
  
  @media (min-width: 768px) {
    .nosotros-mainTitle{
        font-size: 4rem;
    }

    .nosotros-title{
        font-size: 1.4rem;
    }
    
    .nosotros-text{
        font-size: 1rem;
    }

    .nostros-row{
        padding: 0px 100px;
    }
  }
  
  @media (min-width: 992px) {
    .nosotros-title{
        font-size: 1.6rem;
    }
    
    .nosotros-text{
        font-size: 1.2rem;
    }

    .nostros-row{
        padding: 0px 150px;
    }
  }
  
  @media (min-width: 1200px) {
    .nostros-row{
        padding: 0px 200px;
    }
  }