.nosotros-container {
    min-height: calc(100vh - 100px); /* Ajustar para considerar el espacio del Header */
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    margin-top: 100px;
}

.nosotros-mainTitle{
    font-family: "Teachers", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #0E2841;
    text-decoration: underline #FE5000;
    margin-bottom: 50px;
}

.nosotros-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #0E2841;
}

.nosotros-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #0E2841;
}

.nosotros-content{
    padding-bottom: 100px;
}

.nosotros-container {
    min-height: 100vh; /* Hace que el contenedor ocupe al menos toda la altura de la pantalla */
    width: 100%;
    background-color: #f1f1f1;
}

.nosotros-content {
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo del contenido */
}

.nostros-row {
    display: flex;
    flex-wrap: wrap; /* Para hacer que las columnas se comporten de manera responsiva */
    justify-content: center;
    align-items: center;
}

.nosotros-content img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto; /* Asegura que la imagen sea responsiva */
}

@media (min-width: 0px) {
    .nosotros-mainTitle{
        font-size: 2rem;
    }

    .nosotros-title{
        font-size: 1rem;
    }
    
    .nosotros-text{
        font-size: 0.9rem;
    }
    .nostros-row{
        padding: 0px 20px;
    }
  }
  
  @media (min-width: 576px) {
  }
  
  @media (min-width: 768px) {
    .nosotros-mainTitle{
        font-size: 4rem;
    }

    .nosotros-title{
        font-size: 1.4rem;
    }
    
    .nosotros-text{
        font-size: 1rem;
    }

    .nostros-row{
        padding: 0px 100px;
    }
  }
  
  @media (min-width: 992px) {
    .nosotros-title{
        font-size: 1.6rem;
    }
    
    .nosotros-text{
        font-size: 1.2rem;
    }

    .nostros-row{
        padding: 0px 150px;
    }
  }
  
  @media (min-width: 1200px) {
    .nostros-row{
        padding: 0px 200px;
    }
  }